.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 9999;
}

.modal-content {
    background-color: var(--branco);
    padding: 2rem;
    border-radius: 16px;
    max-width: 600px;
    width: 90%;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    background: transparent;
    border: none;
    color: #555;
    cursor: pointer;
}

.close-button:hover {
    color: #000;
}


