.conteiner {
    padding: 0 8%;
}

.caixas {
    border-radius: 20px;
    background-color: var(--branco);

}

img {
    position: relative;
    top: -12px;
}

p {
    color: var(--cinza-texto);
    font-size: 15px;
    margin: 0 20px 20px 20px;
}

h3 {
    color: var(--azul-principal);
    padding-bottom: 10px;
}

.caixas button {
    color: var(--azul-destaque);
    font-weight: 600;
    border: none;
    background-color: var(--branco);

    margin-bottom: 20px;
}





@media(max-width: 633px) {
    .caixas {
        margin-bottom: 20px;
    }
}

@media(max-width: 633px) {
    .conteiner {
        padding: 0 1%;
    }

    .caixas p {
        font-size: 12px;
        margin: 15px;
    }

    .caixas img {
        width: 150px;
    }
}