.sessoes {
    gap: 10px;
    justify-content: center;
}

.sessao_imagem {

    width: 300px;
    height: 280px;
    border-radius: 10px;

}

.sessao_imagem img {

    border-radius: 10px;
}

.sessao_artigo {
    background-color: var(--branco);
    width: 700px;
    height: 280px;
    border-radius: 10px;

    text-align: center;
    
}

.artigo{
    background-color: var(--branco);
    width: 700px;
    height: 210px;
    border-radius: 10px;

    text-align: center;
}

.carousel-item{
    width: 700px;
    height: 210px;
}

.sessao_artigo h2{
    color: var(--azul-principal);
    font-size: clamp(18px, 5vw, 32px);
    font-weight: 600;

    margin: 20px 0 10px 0;
}
.artigo p{
    color: var(--azul-principal);
    font-size: clamp(7px, 2.7vw, 14px);
    font-weight: 400;

    margin: 0px 80px;
    position: absolute;
}


@media(max-width: 1000px){
    .sessao_imagem{
        display: none;
    }
}
@media(max-width: 992px){
    .sessoes{
        position: relative;
        top: 70px;
        
    }
}
@media(max-width: 768px){
    
    .sessao_artigo{
        width: 90%;
        height: auto;
    }
    
    .artigo{
        height: 240px;
    }
    .artigo p{
        width: 450px;
    }
}
@media(max-width: 670px){
    .sessao_artigo{
        height: 300px;
    }
    .artigo p{
        width: 350px;
    }
    .carousel-indicators{
        position: absolute;
        top: 200px;
    }
}
@media(max-width: 560px){
    .sessao_artigo{
        height: 320px;
    }
    .artigo p{
        width: 320px;
    }
    .carousel-indicators{
        position: absolute;
        top: 220px;
    }
}
    
  
    

 @media(max-width: 510px){
    .artigo p{
        width: 300px;
        margin: 0px 50px;
    }
}
@media(max-width: 480px){
    .sessao_artigo{
        height: 280px;
    }
    .carousel-indicators{
        position: absolute;
        top: 185px;
    }
}
@media(max-width: 455px){
    .artigo p{
        width: 270px;
    }
    
} 
@media(max-width: 432px){
    .sessao_artigo{
        height: 260px;
    }
    .carousel-indicators{
        position: absolute;
        top: 175px;
    }
}
@media(max-width: 415px){
    .artigo p{
        width: 250px;
        margin: 0px 48px;
    }
    
} 
@media(max-width: 390px){
    .artigo p{
        width: 250px;
        margin: 0px 40px;
    }
    
} 

@media(max-width: 375px){
    .artigo p{
        width: 230px;
    }
    .sessao_artigo{
        height: 240px;
    }
    .carousel-indicators{
        position: absolute;
        top: 165px;
    }
    
} 

