.titulo_dashboard {
    margin: 3em 15% 2em 15%;
    text-align: center;

}

.titulo_dashboard h3 {
    color: var(--azul-principal);
    font-size: 40px;
    font-weight: 600;
}

.titulo_dashboard p {
    color: var(--cinza-texto);
    font-size: 16px;
}

.caixa{
    justify-content: center;
    gap: 20px;
}

.caixinha {
    background-color: var(--branco);
    border-radius: 15px;
    width: 410px;
    height: 260px;

    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
}

.linha {
    width: 214px;
}

.icone {
    width: 50px;
    height: 50px;

    margin: 30px;
}

.caixinha p{
    margin: 0px 25px;
    color: var(--azul-principal);
}

@media(min-width: 1860px){
    
    
    .caixa{
        width: 1699px;
        justify-content: center;

        margin: 0px auto;
    }
}

@media(max-width: 816px){
    .caixinha {
        border-radius: 10px;
        width: 228px;
        height: 230px;

    }
    .linha {
        width: 110px;
    }
    
    .icone {
        width: 30px;
        height: 30px;
    
        margin: 15px;
    }
    
    .caixinha p{
        margin: 0px 0px;
        font-size: 14px;
    }
}
@media(max-width: 470px){
    .caixinha {
        border-radius: 10px;
        width: 180px;
        height: 240px;

    }
    .caixa{
        gap: 10px;
    }
    .caixinha p{
        font-size: 12px;
    }
}