.caixa_azul {
    background-color: var(--azul-principal);
    margin-top: 50px;
    height: 350px
}

.caixa_azul img {
    width: 403px;
    height: 418px;
    position: relative;
    top: -50px;

    margin-left: 8em;
}

.caixa_azul_claro {
    background-color: var(--azul-destaque);
    padding: 30px 0px 0px 20px;

    justify-content: center;
    gap: 9em;

}
.textos_principais{
    margin: 50px 70px;
}
.textos_principais h2{
    margin: 0px 90px 30px 30px;
    color: var(--branco);
}
.textos_principais p{
    color: var(--branco);
}
.mini_textos{
    text-align: center;
    color: var(--azul-principal);
}
.mini_textos h3{
    font-weight: 700;
}
.mini_textos p{
    font-weight: 500;
}

@media(max-width: 1322px){
    .caixa_azul{
        height: 470px;

    }
    .textos_principais{
        margin: 50px 40px;
    }
    .textos_principais h2{
        font-size: 28px;
    }
    .caixa_azul img {
        width: 523px;
        height: 538px;
        margin-left: 4em;
    }
    
}

@media(max-width: 1200px){
    .caixa_azul{
        flex-direction: column;
        height: auto;
    }
    .caixa_azul img {
        width: 403px;
        height: 418px;
        position: relative;
        top: -50px;
    
        margin: auto;
    }
    .textos_principais{
        margin: 0px 40px;
        text-align: center;
    }
    .textos_principais h2{
        margin: 0px auto 10px auto;

    }
    .caixa_azul_claro{
        gap: 6em;

    }
    .desaparece{
        display: none;
    }
}