.cor-texto-azul{
    color: var(--azul-principal);
}
.cor-texto-azul:hover{
    color: var(--azul-destaque);
}

.cor-texto-branco{
    color: var(--branco);
}
.fundo-azul{
    background-color: var(--azul-principal);
}