:root{
  --branco: #ffffff;
  --cinza-fundo: #f5f5f5;
  --azul-principal: #344D88;
  --azul-destaque: #1BC5E3;
  --fonte: 'Montserrat', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--fonte);
  background-color: var(--cinza-fundo);
}